  Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_github
{{ if .isHomeComputer }}
  Host server
    HostName server
    User toka
    IdentityFile ~/.ssh/id_homelab

  Host octoprint
    HostName octoprint
    User toka
    IdentityFile ~/.ssh/id_homelab
{{ end }}
