<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.josip.restic-laptop-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/sbin/sleepwatcher</string>
    <string>-w</string>
    <string>{{ .chezmoi.homeDir }}/.local/bin/restic-laptop-backup-on-wake.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{ .chezmoi.homeDir }}</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/restic-laptop-backup.log</string>
  <key>StandardErrorPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/restic-laptop-backup.log</string>
</dict>
</plist>
